body {
    margin:0;
   background-color: rgb(56, 56, 56);
   background-image: url(Images/drum.jpg);
   background-position: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    width: 600px;
    height: 500px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
  }
  
  .grid-container span {
    grid-row: 2;
    grid-column: 2;
    color: white;
    background-color: rgb(207, 82, 82);
    height: 170px;
    font-weight: 900;
    border-radius: 100px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out .2s;
  }

  .bass {
    font-size: 46px;
    transition: ease-in-out 1;
}
 
  /* Установите позиции для кнопок вокруг span */
  .grid-container button:nth-child(1) {
    grid-row: 1;
    grid-column: 2;
  }
  
  .grid-container button:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  
  .grid-container button:nth-child(3) {
    grid-row: 2;
    grid-column: 3;
  }
  
  .grid-container button:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
  }
  
  .grid-container button:nth-child(5) {
    grid-row: 1;
    grid-column: 1;
  }
  
  .grid-container button:nth-child(6) {
    grid-row: 1;
    grid-column: 3;
  }
  
  .grid-container button:nth-child(7) {
    grid-row: 3;
    grid-column: 1;
  }
  
  .grid-container button:nth-child(8) {
    grid-row: 3;
    grid-column: 3;
  }

  
  
  
  
  

  
button {
    font-weight: 600;
    background-color: rgba(208, 208, 206, 0.9);
    color: rgb(47, 46, 46);
    font-size: 28px;
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    height: 180px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
    gap: 2rem;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;

    margin: 0;
}

.keybords{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 900px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    margin: 20px auto;
    padding: 10px 20px 20px 10px;
}

.keys{
    font-size: 22px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.color-button {
    background-color: rgb(207, 82, 82); /* Желаемый цвет фона */

}


